# Logs
*.log
npm-debug.log*
data.json

# Dependency directories
node_modules/

# Build output
main.js.map
*.js.map

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

#Others
PROJECT_STRUCTURE.md
